body{
    background-color: #3c3f41
}
h1{
    font-family: "Arial";
    color: white;
    text-align: center;
}
h3{
    font-family: "Arial";
    color: white;
    text-align: center;
}
p{
    font-family: "Arial";
    color: white;
}
li, b{
    font-family: "Arial";
    color: white;
}
a{
    font-family: "monospace";
    color: lightskyblue;
}
h1{
    margin-top: 0;
    padding: 20px 0;
}
#title{
    background-color: #287e80;
    height: 80px;
    box-shadow: 5px 5px 3px #323638;
    border-radius: 5px;
    margin-top: 0;
}
#articleList{
    //width: 800px;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}
#articleBox{
    //width: 100%;
    display: flex;
    background-color: #515658;
    padding: 20px 20px 20px 20px;
    box-shadow: 5px 5px 3px #323638;
    border-radius: 5px;
    margin-bottom: 20px;
    flex-direction: row;
}
.articlePreview{
    display: flex;
    border-radius: 5px;
}
#articleThumb{
    //width: 60%;
    width: 500px;
    border-radius: 5px;
}
#articleBlerb{
    //width: 40%;
    width: 250px;
    flex-direction: column;
    background-color: #3d3e40;
    padding: 10px 10px 10px 10px;
    line-height: 25px;
}
#articleTitle{
    text-align: center;
    font-size: 16pt;
}
#content{
    background-color: #515658;
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 3%;
    border-radius: 5px;
    box-shadow: 5px 5px 3px #323638;
    padding: 10px 10px 10px 10px;
    line-height: 25px;
}
#section{
    background-color: #3d3e40;
    margin: 10px 10px 20px 10px;
    padding: 3px 10px 10px 10px;
    line-height: 25px;
    border-radius: 5px;
    flex-direction: row;
}
#textBundle{
    display: flex;
    flex-direction: column;
    //max-width: 800px;
}
#section img {
    border-radius: 8px;
    display: block;
    max-width: 100%;
}
#code{
    line-height: normal;
    background-color: black;
    margin: 10px 10px 20px 10px;
    padding: 0 10px 0 10px;
    border-radius: 5px;
}
#code p {
    white-space: pre-wrap;
    font-family: monospace;
    color: limegreen;
}
