<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Articals</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>

<div id="title">
	<h1>Rosebud</h1>
</div>

<div id="articleList">
	<p>To change this default template edit rosebud/app/templates/index.html</p>

	{% for article in articles %}
        <div id="projectBox" class="projectPreview">
			{% if article.thumbnail %}
			<img src="{{ article.thumbnail[0] }}" alt="" id="articleThumb">
            {%  endif %}
			<div id="articleBlerb" class="articlePreview">
				<a href="{{ article.index }}" id="articleTitle">{{ article.name }}</a>
				<p>{{ article.blerb }}</p>
            </div>
        </div>
    {% endfor %}
</div>

</body>
</html>
